# Dependency directories
node_modules/

# Environment variables file
.env

# Log files
logs/

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Operating System files
.DS_Store
Thumbs.db
